<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="240 seconds" debug="false">

    <property name="LogPattern"
              value="[%-5level] - %date [%thread] %logger{10} [%file:%line] - %msg%n" />
    <property name="FileNamePattern" value="%d{yyyy-MM-dd}" />
    <property name="MaxHistory" value="60" />

    <statusListener
            class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <!-- Console Appender -->
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${LogPattern}</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLELOGS"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/console.log</file>
        <!-- 过滤器，只记录INFO级别的日志 -->
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>logs/console-${FileNamePattern}.log
            </fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>${MaxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LogPattern}</pattern>
        </encoder>
    </appender>

    <appender name="ERRORLOGS"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.log</file>
        <!-- 过滤器，只记录INFO级别的日志 -->
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>logs/error-${FileNamePattern}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>${MaxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LogPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- Per Package Config -->
    <!-- <logger name="com.twitter" level="ERROR" additivity="true" /> -->

    <logger name="io.netty" level="ERROR" additivity="true" />
    <logger name="com.corundumstudio.socketio" level="ERROR" additivity="true" />

    <!-- Root Logger -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="CONSOLELOGS" />-->
        <!--<appender-ref ref="ERRORLOGS" />-->
    </root>

</configuration>